matplotlib
speechrecognition
requests
streamlit
streamlit-nested-layout
PyPDF2
instaloader
ffmpeg-python
pandas
curl_cffi
torch
torchvision
opencv-python
easyocr
instagrapi
g4f
webdriver-manager
seleniumbase
pyttsx3
pymongo==4.1.1
dnspython==2.2.1
streamlit-aggrid
streamlit_player
gTTS==2.2.4
pydub
fake_useragent 
wit
pydantic
emoji
tls_client 
st-annotated-text
googletrans

