streamlit
streamlit-extras
streamlit-nested-layout
streamlit-aggrid
streamlit_player
streamlit_scrollable_textbox 
st-annotated-text
easyocr
paddleocr
paddlepaddle
ffmpeg-python
g4f
httpx
gTTS
instagrapi
instaloader
opencv-python
pandas
pydub
pyttsx3
requests
seleniumbase
speechrecognition
tls_client
torch
webdriver-manager
