curl_cffi
easyocr
emoji
fake_useragent
ffmpeg-python
g4f
gTTS
instagrapi
instaloader
matplotlib
opencv-python
pandas
pydantic
PyPDF2
pydub
pyperclip
pyttsx3
requests
scikit-learn
scipy
seleniumbase
speechrecognition
streamlit
streamlit-extras
streamlit-nested-layout
streamlit-aggrid
streamlit_player
st-annotated-text
tls_client
torch
webdriver-manager
wit
