streamlit
streamlit-analytics
streamlit-pydantic
streamlit-extras
streamlit_player
beautifulsoup4
pyttsx3
matplotlib
speechrecognition
requests
pymongo==4.1.1
dnspython==2.2.1
gTTS==2.2.4
fake_useragent 
wit
pydantic
emoji
tls_client 
