matplotlib
speechrecognition
requests
streamlit
prompt_toolkit
PyPDF2
instaloader
curl_cffi
torch==1.13.1
torchvision
opencv-python-headless
easyocr
instagrapi
g4f
webdriver-manager
seleniumbase
pymongo==4.1.1
dnspython==2.2.1
streamlit-aggrid
streamlit_player
gTTS==2.2.4
pydub
fake_useragent 
wit
pydantic
emoji
tls_client
